@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Markazi+Text:wght@400;500;600;700&display=swap');
body{
    font-family: karla, "sans-serif";
}
.bg-white{
    background-color: #fff !important;
}
.active{
    color: blue
}
.logo{
    width: 200px;
    height: auto;   
}
.navbar-brand{
    width: 200px;
}
.navbar{
    background-color: #fff !important;
}
.hero{
    background: #495E57;
    padding: 50px 0;
}
.btn-little-lemon{
    background-color: #F4CE14;
    border-radius: 26px;
    padding: 8px 16px;
    font-size: 16px;
    color: #0A0901;
    font-weight: 700;
    border: none !important;
}
.btn-little-lemon:hover{
    background-color: #c0a107;
    color: #000;
    border: none !important;
}
.btn-little-lemon:active{
    transform: translateY(2px);
    background-color: #c0a107 !important;
    color: #000 !important;
    border: none !important;
}
.hero h1{
    color: #F4CE14;
font-family: Markazi Text;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0 !important;
}

.hero p{
    color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.hero img{
    width: 100%;
    border-radius: 20px;
}
.hero h3{
    color: #EDEFEE;
font-family: Markazi Text;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0 !important;
}

.selection-nav{
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.btn-menu{
    width: auto;
    background-color: #EDEFEE;
    border-radius: 20px;
    color: #4D625B;
    font-weight: bold;
    margin: 10px;
    border:none !important;
}
.btn-menu:hover{
    background-color: #a6a7a6;
    border:none !important;
    color: #4D625B;
}
.btn-menu:active{
    border:none !important;
    transform: translateY(2px);
    background-color: #a6a7a6;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.selection-nav::-webkit-scrollbar {
    display: none;
}
.menu-item{
    border-bottom: solid 1px #F3F4F3;
    padding: 10px;
}
.menu-item h3{
    font-size: 16px;
    font-weight: bold;
}
.menu-item p{
    color: #5A6D67;
}
.menu-item img{
    width: 60%;
}
footer{
    background-color: #495E57;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.specials{
    padding: 50px 0;
}
.specials h1{
    font-weight: 800;
    text-transform: uppercase;
    font-family: karla;
    font-size: 20px;
}
.reservation-section{
    background-color: #495E57;
    min-height: 90vh;
}
.reservation-section h1{
    color: #F4CE14;
/* Display_serif */
font-family: Markazi Text;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}
.reservation-section h3{
    color: #EDEFEE;
/* Subheading */
font-family: Markazi Text;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}
.reservation-section img{
    width: 100%;
}
.date-and-time{
    display: flex;
    width: 100%;
    margin: 10px 0;
    justify-content: space-between;
}
.date-and-time input{
    width: 48%;
}
#diners{
    margin-bottom: 10px;
}
.form h3{
    font-family: karla;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 400;
}
.form-check-label{
    color: #fff !important;
}
.btn-primary{
    width: 100%;
    background-color: #F4CE14 !important;
    border: none !important;
    color: #000;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-family: karla,sans-serif;
}
.bg-light-custom{
    background-color: #4f665f;
    padding: 30px 10px;
}
.note{
    color: #fff;
    font-size: 12px;
    margin: 10px 0 0 0;
    line-height: 15px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero img{
        display: none;
    }
    .w-lg-50{
        width: 50% !important;
    }
}